.video-container {
    position: relative;
}
.current_time {
    width: 100px;
    height: 20px;
    color: white;
    position: relative;
    top: -40px;
    left: 10px;
    z-index: 100;
}
#player {
    margin: 5px auto 0;
}
