    body {
        font-family: sans-serif;
    }
    .form1 {
        box-sizing: border-box;
        background: #b4dbe8;
        width: 400px;
        min-height: 300px;
        margin: auto;
        padding: 30px;
    }
    .form1_header {
        text-align: center;
        margin: 0 0 10px 0;
    }
    .form1 label {
        font-weight: bold;
    }
    .form1 span {
        float: right;
        color: red;
    }
    .form1 input {
        box-sizing: border-box;
        width: 340px;
        height: 30px;
        border: 1px solid grey;
        border-radius: 3px;
        margin: 0 0 10px 0;
        padding-left: 10px;
    }
    .form1 [type='button'] {
        margin-top: 20px;
    }